*{-moz-box-sizing: border-box; -webkit-box-sizing: ;}
h1, p {margin: 0 2rem;}
nav button {
	margin: 2rem 2vw;
	background: transparent;
	border: none;
	font-size: 2rem;
	color: #555;
}
nav {
	background-color: #eee;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul li a {
	display: block;
	padding: .8rem 2vw;
	text-decoration: none;
	color: #333;
	border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li a:hover {
	background-color: rgba(0,0,0,0.3);
}
nav ul li .active a {
	background-color: rgba(0,0,0,0.3);
	color: orange;
}
#humburgerBtn span:nth-child(1) {display: block;}
#humburgerBtn span:nth-child(2) {display: none;}


#humburgerBtn span:nth-child(1) {display: none;}
#humburgerBtn span:nth-child(2) {display: block;}